mixin about($class)
  .content.content-3(class=$class)
    section.about
      header
        h1 Thanks for checking out Liftie!

      p.

        Liftie monitors lift status for selected ski resorts. When the lift status changes, so will
        the display. No need to hit browser's Refresh button. Liftie remembers which resorts you are
        interested in and will show their lift status when you come back.

      p.

        To display the lift status of a ski resort click on the #[span.ls-plus plus]
        sign, to hide it click on the #[span.ls-minus minus] sign. If you want to see a
        single resort simply click on its name. To see ski resorts grouped by state, country or area
        use tags at the bottom of the page. You can also group your favorite resorts by using the
        #[span.ls-star-outline star] sign next to the resort name. Once you star ski
        resorts, look for the #[a(href="/stars") Starred] tag to display a page with your
        favorites.

      p.

        If needed Liftie can take you to the official resort page. Look for the
        #[span.ls-external shortcut] sign.

      != decorateAbout()

      p.

        Questions or suggestions?

        Our #[a(href='mailto:contact@liftie.info' target='_blank') e-mail] works. We'd love to hear
        from you. Let us know if we are missing your favorite resort. And if you find Liftie useful,
        make sure to tell your friends about it.

      footer
        a.close(href='/', title='Close') Got it!
