extends layout

block content
  for resort in resorts
    section.resort
      header
        a(href=resort.href)= resort.name
      ul.lifts
        for ls in resort.status
          li.lift
            span.name= ls.name
            span.status= ls.status
      footer
        ul.summary
          li 0 open
          li 0 close
          li 0 onhold
          li 0 scheduled