doctype 5
html
  head
    title= title
    meta(name='description', content='Clean, simple, easy to read, fast lift status for all ski resort.')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content