doctype 5
html(lang='en-US')
  head
    title= title
    meta(name='description', content='Clean, simple, easy to read, fast lift status for all ski resort.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .content
      block content
    footer
      a(href='http://furkot.com', title='Plan your ski trip with us.')
        span.ls-furkot
      a(href='https://github.com/code42day/liftie', title='Fork us and add your favorite ski resort.')
        span.ls-github
    script(src=cachify('/scripts/liftie#{min}.js'))
    script
      require('boot')
