@import 'nib'

// colors: http://colorschemedesigner.com/#0542cw0w0w0w0
$blue=#104ba9
$red=#ff1e00
$yellow=#ffa200
$green=#00bf32


$column-width=320px
$column-gutter=20px

@import './icons'

*
  padding 0
  margin 0

body
  font-size: 1em
  font-family: Ubuntu, "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.resort
  clearfix()
  box-sizing border-box
  margin $column-gutter ($column-gutter/2)
  width $column-width
  padding .8em
  float left
  background-color GhostWhite

  header
    font-size 1.2em
    line-height 1em
    a
      text-decoration none

  &.open
    header
      border-bottom solid 1px grey
      padding-bottom .4em

  footer
    font-size .8em
    border-top solid 1px grey
    padding-top .4em

.lifts
  list-style none

  .lift
    display block
    padding .5em 0
    clearfix()

    .name
      float left

    .status
      font-size 1.1em
      float right
      text-shadow 1px 1px 2px rgba(0,0,0,.3)

.minimax
  float right
  display block
  color black
  font-size .8em

.hidden
  display none !important

.summary
  list-style none
  clearfix()

  li
    float left
    margin-right .5em

    &:last-child
      margin-right 0

body > footer
  clear both
  padding-top 1em
  line-height 1.4em
  text-align center
  a
    color #444444
    font-size 1.3em
    margin 0 .2em
    text-decoration none
    transition color .5s ease

    &:hover
      color black

contentWidth(n)
  return n == 1 ? $column-width : n * ($column-width + $column-gutter)

.content
  margin 0 auto
  width contentWidth(7)


for col in 4 3 2 1
  $max = contentWidth(col + 1)
  $media_query = 'screen and (max-width:' + $max + ')'
  @media $media_query
    .content
      width contentWidth(col)
    if col == 1
      .resort
        margin-right 0
        margin-left 0
