@import 'nib'

// colors: http://colorschemedesigner.com/#0542cw0w0w0w0
$blue=#104ba9
$red=#ff1e00
$yellow=#ffa200
$green=#00bf32

@import './icons'

*
  padding 0
  margin 0

body
  font-size: 1em
  font-family: Ubuntu, "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.resort
  clearfix()
  float left
  background-color GhostWhite
  padding 1em
  margin 1em 0 0 1em
  min-width 280px

  header
    font-size 1.2em
    line-height 1em
    padding-bottom .4em
    border-bottom solid 1px grey
    a
      text-decoration none

  footer
    font-size .8em
    border-top solid 1px grey
    padding-top .4em

.lifts
  list-style none

  .lift
    display block
    padding .5em 0
    clearfix()

    .name
      float left

    .status
      font-size 1.1em
      float right
      text-shadow 1px 1px 2px rgba(0,0,0,.3)

.summary
  list-style none
  clearfix()

  li
    float left
    margin-right 1em

body > footer
  clear both
  padding-top 1em
  line-height 1.4em
  text-align center

  a
    color #444444
    font-size 1.3em
    margin 0 .2em
    text-decoration none
    transition color .5s ease

    &:hover
      color black
