@import 'nib'

// colors: http://colorschemedesigner.com/#0542cw0w0w0w0
$blue=hsl(217, 83, 36)
$red=hsl(7, 100, 50)
$yellow=hsl(38, 100, 50)
$green=hsl(136, 100, 36)

$link-color=hsl(197, 100, 43)
$background-color=hsl(220, 96, 98)
$text-color=hsl(0, 0, 20)

$column-width=320px
$column-gutter=16px


gradient-background($color = $background-color, $lighten = 5%, $darken = 5%)
  background-color $color
  background linear-gradient(top, lighten($color, $lighten), darken($color, $darken))

@import './icons'

*
  padding 0
  margin 0

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden
  display none !important
  visibility hidden

.visible
  clearfix()

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

// To be used for links rendered with font icons
// Chrome 19 was weird with clickability without this: http://css-tricks.com/examples/IconFont
.icon-alone
  display inline-block

.left
  float left

.right
  float right

body
  font-size: 1em
  font-family: Ubuntu, "Lucida Grande", Helvetica, Arial, sans-serif
  color $text-color

a
  color $link-color
  text-shadow 0 1px white
  transition color .3s ease
  text-decoration none

  &:hover
    color saturate($link-color, 20%)

.resort
.extras
  clearfix()
  box-sizing border-box
  margin 0 ($column-gutter/2) $column-gutter
  width $column-width
  padding .8em
  float left
  gradient-background()

  &:last-child
    margin-bottom 0

  .add-to-trip
    display block
    margin-top .3em
    cursor pointer
    >span
      margin-right .3em

.resort
  header,
  footer
    transition all .4s ease
    clearfix()

  header
    font-size 1.2em
    line-height 1em
    padding-top 2px
    border-bottom solid 2px transparent

    a.left
      margin-right .3em

    a.right
      margin-left .3em

  footer
    font-size .8em

  &.open
    header
      border-color rgba(black,.3)
      padding-bottom .5em

.open
  .expandable
    opacity 1
    max-height 3000px
    min-height 5em

    .lifts-status
      position relative

      .opening-date
        position absolute
        width 100%
        height 100%
        z-index 1
        gradient-background(rgba($background-color, .9))

        a
          position absolute
          top 50%
          margin-top -.6em
          font-size 1.2em
          width 100%
          text-align center

.expandable
  transition all .4s ease
  max-height 0
  overflow-y hidden
  opacity 0

.lifts
  list-style none

  .lift
    display block
    padding .4em 0
    clearfix()

    .name
      float left

    .status
      font-size 1.1em
      float right
      text-shadow 1px 1px white
      padding 2px

.auto-refresh-reminder
  color lighten($text-color, 30%)
  font-style italic
  float right
  padding-right 2px

.minimax
  padding-right 2px

.ls-minimax:before
  content "\e031" // plus

.open
  .ls-minimax:before
    content "\e032" // minus

.ls-star:before
  content "\e036" // outline star

.starred
  .ls-star:before
    content "\e035" // full star

.resort-link
  font-size .9em
.summary
  list-style none
  clearfix()

  li
    float left
    margin-right .5em

    &:last-child
      margin-right 0

    [class^="ls-"],
    [class*=" ls-"],
    [class^="ls-"]:before,
    [class*=" ls-"]:before
      margin-right 2px

    [class^="ls-"]:before,
    [class*=" ls-"]:before
      text-shadow 1px 1px white

.summary-color-bar
  clearfix()
  width 100%
  margin-bottom .5em

  .open,
  .hold,
  .scheduled,
  .closed
    height 2px
    float left

  .open
    background-color $green
  .hold
    background-color $yellow
  .scheduled
    background-color $blue
  .closed
    background-color $red


.extras
  .weather,
  .twitter-timeline
    font-size .9em
    margin-top .5em

  .weather
    img
      float left
    .temperature
      float right
      font-size 1.5em
    .conditions
      clear right
      float right
      font-size 1.1em
    .text
      clear both
    .notice
      margin-top .5em
      float right
      font-size .8em
      font-style italic
      img
        float none
        width 126px
        vertical-align bottom

  .twitter-timeline

    .tweet
      display block
      padding 0.7em 0
      border-bottom dashed 1px $blue
      line-height 1.4

      &:last-child
        border 0

    .date
      font-size .9em
      display block
      margin-bottom 0.5em
      font-style italic
      float right

    .text
      clear both

body > footer
  clear both
  margin-top 1em
  padding 0 .2em
  line-height 1
  text-align center

  .text
    display inline
    margin-left .2em

  a
    margin 0 .2em
    span
      color #666666
      transition color .3s ease
    &:hover
      span
        color black
      .ls-google-plus
        color #D34836
      .ls-twitter
        color #20C7FF
      .ls-facebook
        color #3B5998

@import './about'
@import './tags'

contentWidth(n)
  return n == 1 ? $column-width : n * ($column-width + $column-gutter)

maxContent(n)
  .content-{n}
    max-width contentWidth(n)

.content
  clearfix()
  margin $column-gutter auto
  width contentWidth(7)


.widget
  .resort
    width 100%
    min-width 200px
    margin 0
    display block
    float none

.widget + footer
  font-size .8em
  margin .4em 0 .2em

  a
    margin 0

for col in 4 3 2 1
  maxContent(col)

  $max = contentWidth(col + 1)
  $media_query = 'screen and (max-width:' + $max + ')'
  @media $media_query
    .content
      width contentWidth(col)
    if col == 1
      .resort
        margin-right 0
        margin-left 0
      .tags
        margin 0

@media screen and (max-width: 720px)
  body > footer
    font-size 1.3em

    .text
      display none


@media screen and (max-width: 280px)
  body
    font-size .8em