$tagsDefaultColor=$link-color
$tagPadding=5px

.tags
  list-style none
  display block
  margin 0 ($column-gutter / 2)

  li
    position relative
    float left
    font-size .9em
    margin-right 1.2em
    margin-bottom .6em

    &:last-child
      margin-right 0

  a,
  .count
    display block
    box-sizing border-box

  a
    color $link-color
    text-decoration none
    text-shadow 0 1px white
    background $background-color
    // background linear-gradient(top, lighten($background-color, 5%), darken($background-color, 5%))
    border-width 1px 0 1px 1px
    border-style solid
    border-color  $link-color
    border-color: darken($background-color, 8%) darken($background-color, 10%) darken($background-color, 12%);
    padding $tagPadding
    box-shadow inset 0 0 0 1px rgba(white, .7), 0 1px 2px rgba(black, .05)


    .count
      position absolute
      top 0
      left 100%
      z-index 2
      overflow hidden
      max-width 0
      padding $tagPadding 0 $tagPadding 2px
      color white
      text-shadow 0 -1px rgba(black, .3)
      background $tagsDefaultColor
      background linear-gradient(top, lighten($tagsDefaultColor, 5%), darken($tagsDefaultColor, 5%))
      border 1px solid
      border-color darken($tagsDefaultColor, 8%) darken($tagsDefaultColor, 10%) darken($tagsDefaultColor, 12%)
      opacity: .95
      transition .3s ease-out
      transition-property padding max-width

    &:hover .count
      padding $tagPadding 7px $tagPadding 6px
      max-width 40px
      box-shadow inset 0 0 0 1px rgba(white, .15), 1px 1px 2px rgba(black, .2)
